<h1>Create account</h1>

<%= simple_form_for @user, url: sign_up_path, html: {class: 'form-vertical'} do |f| %>
  <%= f.input :email, label: false, wrapper: :prepend do %>
    <%= f.input_field :email, placeholder: 'Email' %>
    <%= content_tag :span, "", :class => "icon-envelope-alt add-on" %>
  <% end %>
  <%= f.input :password, label: false, wrapper: :prepend do %>
    <%= f.password_field :password, placeholder: 'Password' %>
    <%= content_tag :span, "", :class => "icon-asterisk add-on" %>
  <% end %>
  
  <div class="control-group remove-margin clearfix">
    <div class="pull-left">
      <%= link_to "Sign in", sign_in_path%>
    </div>
    <div class="btn-group pull-right">
      <%= button_tag(type: 'submit', class: 'btn btn-small btn-success pull-right') do %>
        <i class="icon-arrow-right"></i> Sign Up
      <% end %>
    </div>
  </div>
<% end %>
